* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;

}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Helper Styles */
.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.clearfix {
    clear: both;
}

.btn-primary {
    background-color: #001727;
    padding: 10px 20px;
    border: none;
    color: #fff;
}

/* Helper Styles */

/* TopNavBar */
.menu {
    float: right;
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    transition: 0.6s ease;
}

.logo {
    float: left;
    width: 150px;
    height: auto;
}

/* TopNavBar */


.section1 {
    padding-top: 10%;


    font-size: 50px;
    text-align: center;
}

.button {
    margin: 20px;
}

.image1 img {
    height: 500px;
    width: 1000px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.flex-container {
    display: flex;
    background-color: #f6cdb0;
    padding: 10px 10px 10px 0px;
    
}

.flex-container img{
    width:100% ;
}

.flex-container>div{
    flex: 50%;
}

.side {
    margin-top: 30px;
    padding: 7% 5% 5% 5% ;
}

.section2 {
    top: 30%;
    left: 30%;
    font-size: 30px;
    text-align: center;
}

.item {
    width: 100%;
}

.container1 {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.container1>div {
    flex: 50%;
    text-align: center;
}

.container1 img {

    width: 800px;
}

.container1 img{
    padding-top: 10%;
    height: 400px;
    width: 1000px;
    padding-bottom: 5%;
}

.flex-container1 {
    display: flex;
    background-color: #f4e19d;
    padding: 10px 0px 10px 0px;
    
}
.flex-container1>div{
    flex:50%
   
    
}
.flex-container1 img{
    width: 100%;
}

.right {
   padding: 5% 0% 10% 15%;
   }
   
.container2 {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 5% 1% 5%;
}

.container2>div {
    flex: 50%;

}




.item img {
    height: 150px;
    width: 130px;

}

.item1 img {
    float: right;
    padding-right: 25%;
    height: 250px;
    width: 200px;
    padding-bottom: 50px;


}

.flex-container2 {
    display: flex;
    background-color: #f1b884;
    padding: 10px 0px 40px 90px;

}

.content {

    text-align: center;
    margin: 0 auto;
    padding: 50px;
}

.flex-container3 {
    display: flex;

    padding: 10px 0px 10px 90px;
}

.flex-container3>div {
    flex: 50%;


}

.flex-container3 div {
    padding:3% 0% 5% 20%;
    
}